@use "sass:list";
@use "sass:math";

@use "size";
@use "../setup/config";
@use "../breakpoints";

$system-defaults: system-ui, -apple-system, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

html {
  font-size: math.div(config.$base-font-size, 16px) * 100%;
  font-weight: 300;
  overflow-wrap: normal;

  // Pre-generate heading font-sizes for easy scaling/alignment later.
  @for $i from 1 through 5 {
    --h#{$i}-font-size: #{list.nth(size.$heading-sizes, $i)};
  }
}

html,
input,
textarea,
button {
  font-family: #{config.$font-family}, $system-defaults;
  line-height: config.$line-height;
}

input,
textarea,
button {
  font-size: 1rem;
}

p {
  margin-block: var(--xs);
}

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

a {
  color: var(--primary);

  &:hover {
    background: var(--primary);
    color: var(--dark);
  }
}

// Specific font families for code or pre-formatted blocks.
code,
kbd,
samp,
pre {
  font-family: "Menlo", "Consolas", "Roboto Mono", "Ubuntu Monospace", "Noto Mono", "Oxygen Mono", "Liberation Mono",
    monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

// Heading styles.
// Generate font-size and margins according to typographic scale.
@for $i from 1 through 5 {
  $heading: "h#{$i}";

  #{$heading} {
    margin: list.nth(size.$heading-sizes, $i) 0 size.$sm;
    font-size: var(#{--#{$heading}-font-size});

    &:first-child {
      margin-top: 0;
    }
  }
}

mark,
::selection {
  color: var(--foreground);
  background-color: var(--primary);
}

h1 {
  &::after {
    content: "_";
    color: var(--primary);
  }

  @media (max-width: breakpoints.$sm) {
    font-size: var(--xl);

    overflow-wrap: anywhere;
  }
}

h2 {
  font-size: var(--md);

  @media (max-width: breakpoints.$sm) {
    font-size: var(--h2-font-size);

    overflow-wrap: anywhere;
  } 
}
